<%- include('../header.ejs') -%>
<body>
    <div class="container-fluid">
        <div class="row">
            <%- include('../nav.ejs') -%>
            <div class="col-sm p-3 min-vh-100 d-flex align-items-center">
                <div class="container mt-3 create_card">
                    <form action="/profile/edit" method="PUT" class="form-signin" enctype="multipart/form-data">
                        <div class="">
                            <% if(user.userProfile !== undefined){ if (user.userProfile.profileImage !== undefined){ %>
                                <img src="/uploads/<%= user.userProfile.profileImage %>" alt=""> 
                            <% }} %>
                        </div>
                        
                        <div class="error" style="background-color: red;"></div>
                        <div class="form-group">
                            <input type="file" id="myFile" name="profilePic">
                        </div>
                        <div class="form-group">
                          <label for="name">Name</label>
                          <input type="text" class="form-control" name="name" placeholder="Enter name" value="<%= user.name %>">
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone number</label>
                            <input type="text" class="form-control" name="phone" placeholder="Enter phone number" value="<%= user.phone %>">
                          </div>
                          <div class="form-group">
                            <label for="email">Current Email</label>
                            <input type="text" class="form-control" name="email" placeholder="Enter current email" value="<%= user.email %>">
                          </div>
                          <div class="form-group">
                            <label for="email">New Email</label>
                            <input type="text" class="form-control" name="newEmail" placeholder="Enter new email">
                          </div>
                          <div class="form-group">
                            <label for="password">Current Password</label>
                            <input type="password" class="form-control" name="password" placeholder="Enter current password">
                          </div>
                          <div class="form-group">
                            <label for="password">New Password</label>
                            <input type="password" class="form-control" name="newPassword" placeholder="Enter new password">
                          </div>
                          <div class="form-group">
                            <label for="password">Confirm New Password</label>
                            <input type="password" class="form-control" name="cNewPassword" placeholder="confirm your new password">
                          </div>
                          <div class="form-group">
                            <label for="bday">Birth date</label>
                            <input type="date" class="form-control" id="bday" name="birthDay" value="<%= bday %>">
                          </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                </div>
            </div>
        </div>
    </div>
    <!-- bootstrap script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script>
        
        window.onload=function() {
        const eform = document.querySelector('form');
        const display = document.querySelector('.error')
        eform.addEventListener('submit', async event =>{
            event.preventDefault();

            const formData = new FormData(eform);
            // const data = Object.fromEntries(formData);
            display.textContent = ''
            try{
                const res = await fetch('/profile/edit', {
                    method: 'PUT',
                    credentials: "include",
                    body: formData

                })
                const resData = await res.json()
                if (res.status === 400 || res.status === 401) {
                    return display.textContent = `${resData.message}. ${resData.error ? resData.error : ''}`
                }
                console.log(resData)
                location.reload()
            } catch (err) {
                console.log(err.message)
            }
        })
    }
    </script>
</body>
</html>