
<div class="d-flex justify-content-center align-items-center" id="circles_container">
    <ul class="menu">
        <% if (Array.isArray(information.data)) { %>
            <% for (var i=0 ; i < information.data.length;  i++ ) { %>
                <!-- Toggle Button -->
                <% if (i === 0) { %>
                    <div class="toggle"><%= information.data[i].title %><%= information.data[i].information %></div>
                <%} else { %>
                <!-- Menu Items -->
                    <li style="--i:<%= i %>;--clr:#ff2972;">
                    <a href="#"><%= information.data[i].title %><%= information.data[i].information %></a>
                    </li>
                <% } %>
            <% } %>
        <% } %>
      </ul>
</div>

<script>
let toggle = document.querySelector('.toggle');
    let menu = document.querySelector('.menu');
    toggle.onclick = function(){
      menu.classList.toggle('active')
    }</script>